<h1>Job Profile</h1>

<div>
    <h3>Title</h3>
    <span><%= @job.title %><span/>
</div>

<div>
    <h3>salary per hour</h3>
    <span><%= @job.salary_per_hour %><span/>
</div>

<div>
    <h3>Languages</h3>
    <span><%= languages_array_to_string(@job.languages) %><span/>
</div>

<div>
    <h3>Shift days per week</h3>
    <span><%= @job.shift_dates %><span/>
</div>

<%= button_to "Show All Jobs", '/jobs', method: :get%>